* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: rgb(154, 154, 251);
  --text-color: rgb(137, 131, 250);
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}

#display-data{
    border: none;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    background: rgb(255, 255, 255);
    margin: 10px auto;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#menu{
  margin: 10px 20px;
  align-self: flex-start;
  transform: scale(1.3);
}

#convert-data-box{
  align-self: flex-start;
  margin: 20px 25px;
  transform: scale(1.2);
}

.data-manipulation{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

select{
  outline: none;
  border: none;
}

#numbers-button-container{
  height: 328px;
  width: 100%;
  display: grid;
  grid-template-areas: ". ce delete"
  "a7 a8 a9"
  "a4 a5 a6"
  "a1 a2 a3"
  ". a0 dot";

}

#clear-all{
  grid-column: 2;
  background-color: rgb(204, 53, 53);

}
#delete{
  grid-column: 3;
  /* background-color: rgb(204, 53, 53); */
}
#clear-all:hover{
  background-color: rgb(235, 101, 101);
}
.btn{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: var(--bg-color);
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: var(--box-shadow);
  transform: scale(0.95);
}
.btn:hover{
  background: rgb(131, 131, 242);
}

span{
  margin: 10px 15px;
}
input{
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 2px;
  text-align: center;
  font-size: 35px;
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h2 {
  color: white;
  text-shadow: 1px 1px 0 black;
  font-size: 40px;
  margin: 10px;
}
